html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

/* Webkit scrollbar tune */
body *::-webkit-scrollbar {
	width: 0.7rem;
}
body *::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-corner,
body *::-webkit-scrollbar-track {
	background-color: rgba(128, 128, 128, 0.3);
}
body *::-webkit-scrollbar-thumb {
	border-radius: 0.3rem;
}
